.order-product-card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .order-product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  /* .product-image {
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
  
  .product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */

  /* .product-image-admin {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
        transition: transform 0.3s ease;
    } */
  
  .product-info {
    padding: 15px;
    text-align: center;
  }
  
  .product-info h3 {
    margin: 0;
    font-size: 16px;
    color: #2c3e50;
  }
  
  .price {
    color: #F28123;
    font-weight: 600;
    margin: 8px 0;
  }